{% extends 'base.html' %}

{% block title %}{{ category }}{% endblock %}
{% block og_title %}{{ category }}{% endblock %}
{% block tw_title %}{{ category }}{% endblock %}

{% block masthead_size %}0.5{% endblock %}

{% block heading %}{{ category }}{% endblock %}

{% block content %}
  <div class="row">
  {% for article in articles %}
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-2">
      <div class="card">
        <img class="img-responsive card-img-top" src="{{ article.cover }}">
        <div class="card-body">
          <h2 class="card-title"><a href="/{{ article.url }}">{{ article.title }}</a></h2>
          <div>{{ article.summary }}</div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
