<a class="flex-grow-1 mr-3 mb-3" target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/philjnicholls/"><i class="text-white fa fa-linkedin fa-4x"></i></a>
<a class="flex-grow-1 mr-3 mb-3" target="_blank" title="GitHub" href="https://github.com/philjnicholls/"><i class="text-white fab fa-github fa-4x"></i></a>
<a class="flex-grow-1 mr-3 mb-3" target="_blank" title="FreeCodeCamp" href="https://www.freecodecamp.org/philjnicholls"><i class="text-white fab fa-free-code-camp fa-4x"></i></a>
<a class="flex-grow-1 mr-3 mb-3" target="_blank" title="HackerRank" href="https://www.hackerrank.com/phil_j_nicholls"><i class="text-white fab fa-hackerrank fa-4x"></i></a>
<a class="flex-grow-1 mr-3 mb-3" target="_blank" title="WhatsApp" href="https://wa.me/972584739564"><i class="text-white fab fa-whatsapp fa-4x"></i></a>
<a class="flex-grow-1 mr-3 mb-3" target="_blank" title="Email" href="mailto:phil.j.nicholls@gmail.com"><i class="text-white far fa-envelope fa-4x"></i></a>
